@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');


html, body, #root{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    


    
    
}


.app{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.navbar{
    position: fixed;
    width: 100%;
    margin-top: 0px;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.logo{

    height: 28px;



}

/* Style for the search bar container */
.searchBar {
    display: flex;
    align-items: center;
    width: 384px; /* Adjust the width as needed */
    height: 51px;
    border: 2px solid #F0F0F0;
    border-radius: 10px; /* Adds border radius */
    background-color: white;
    margin-left: 0px;
}
  
/* Style for the search bar input */
.searchBarInput {
    display: flex;

    flex: 1;
    padding: 16px;
    border: none;
    background-color: transparent;
    outline: none; /* Disable the default outline */
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

/* Style for the search bar icon */
.searchBarIcon {
    display: flex;

    height: 20px;
    width: 20px;
     /* Adjust the height as needed */
    margin-left: 24px;
    z-index: 2;
    fill: white;
}


/* Hover effect for the search bar */
.searchBar:hover {
    background-color: #f5f5f5; /* Change the background color to slightly gray */
}
  


.filterButton{
    display: flex;
    width: 176px; /* Adjust the width as needed */
    height: 51px;
    border: 2px solid #F0F0F0;
    border-radius: 10px; /* Adds border radius */
    background-color: white;
    margin-left: 0px;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    justify-content: space-between;
    padding: 16px;
}


.filterButton:hover {
    background-color: #f5f5f5; /* Change the background color to slightly gray */
}

.filterIcon{

    
    display: flex;
    height: 12px;
    width: 12px;
    z-index: 2;


}


.userContainer{
    width: 204px;
    height:36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
}
.notificationsButton{

    display: flex;
    height: 100%;
    border-radius: 10px; /* Adds border radius */
    background-color: transparent;
    align-items: center;
    outline: none;
    border: none;

}



.userInfoContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:156px;
    height:36px;
}


.userProfilePicture{
    height: 100%;
    border-radius: 100%;
}

.usernameText{
    margin-left: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
}

.divisionHorizontalBar{
    width: 1920px;
    height: 1.333px; 
    background: #F6F6F6; 
    margin-top: 88px;
    position: fixed;
}

.mainContainer{
    width: 100%;
    height: 100%;
    margin-left: 660px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 110px;

}

.sidePannel{
    position: fixed;
    top:100px;
    background-color: transparent;
    width:330px;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: start;
    align-self: start;
    margin-top: 20px;


}

.sidePannelButtonsContainer{
    width: 250px;
    height: 660px;
    background-color: transparent;
    display: grid;


    grid-template-columns: 1fr 1fr; /* Two columns with empty space in between */
    grid-template-rows: repeat(10, auto); /* Ten rows with empty space in between */


    grid-column-gap: 46px; /* Gap between columns */
    grid-row-gap: 30px; /* Gap between rows */
}


.testbuttoncontainer{
    grid-row-start: 5;
    grid-row-end: 5;

    grid-column-start: 1;
    grid-column-end: 1;
    background-color: transparent;
}

.storageUsageDetailsContainer{
    width: 255px;
    height:130px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}


.storageUsageTitlesContainer{
    background-color: transparent;
    width: 100%;
    height: 85px;
}

.storageUsedTitle{
    color: #25396F;
    font-size: 21px;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 26px;
    background-color: transparent;
}

.storageUsedFreeTitle{
    color: #25396F;
    font-size: 17px;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 26px; 
    background-color: transparent;

}


.storageUsageBackgroundBar{

    height: 11px;
    width: 100%;
    background-color: #F6F9FF;
    border-radius: 8px;
    display: flex;
    margin-top: 15px;
}

.storageUsageBar{

    height: 100%;
    width: 55%;
    background-color: #FF6E91;
    border-radius: 8px;
    display: flex;
}

.mainContentContainer{
    display: flex;
    margin-left:25px;
    margin-top: 0px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.recentFilesContainer{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: flex-start;
    flex-direction: column;
    /*gap: 30px;*/
    margin-top: 15px;
    overflow-x:scroll;
    flex-grow: 1;
}

.sectionTitle{
    color: #505887;
    font-size: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
}

.subRecentFilesContainer{
    height: 250px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;
    flex-grow: 1;
    overflow-y: visible;

}

#subRecentFilesContainer1> button:first-child{

    margin-left:30px;

}

#subRecentFilesContainer1> button:last-child{

    margin-right:30px;

}

 


    /* Peut etre déterminer une certaine longueur a ne pas depasser pour la slide cards*/



.recentItemButton{
    background-color: #F6F5FF;
    min-width: 225px;
    height: 180px;
    border-radius: 13px;
    outline: none;
    border: none;
    box-shadow: 0px 2.4691355228424072px 4.197530746459961px 0px rgba(158, 160, 249, 0.02), 0px 10.864197731018066px 8.691357612609863px 0px rgba(158, 160, 249, 0.03), 0px 26.66666603088379px 17.333332061767578px 0px rgba(158, 160, 249, 0.04), 0px 51.358028411865234px 33.97530746459961px 0px rgba(158, 160, 249, 0.04), 0px 28.80666732788086px 62.46913146972656px 0px rgba(158, 160, 249, 0.05), 0px 44.44333267211914px 106.66666412353516px 0px rgba(158, 160, 249, 0.07);     

}

.recentItemButton:hover{
    background-color: #3734A9;
}


#allFilesSubContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    flex-grow: 1;



}



#allFilesSortContainer{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}



.sortItem{
    cursor: pointer;

    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #667085;
    background-color: transparent;
    border: none;
    outline: none;

}

.sortItem:hover{
    background-color: #F6F5FF;
    border-radius: 5px;
}














.divisionVerticalBar{
    width: 1.33px;
    height: 100%; 
    background: #F6F6F6; 
}


@media screen and (max-width: 900px){
    .sidePannel{
        display: none;
    }

    .mainContainer
    {
        margin-left: 0px;


    }
}

#bottomContainer> div:first-child{
    align-self: start;

}


#bottomContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:100px;


}

#dragDropSurface{
    background-image: repeating-linear-gradient(0deg, #8cb8f4, #8cb8f4 14px, transparent 14px, transparent 18px, #8cb8f4 18px), repeating-linear-gradient(90deg, #8cb8f4, #8cb8f4 14px, transparent 14px, transparent 18px, #8cb8f4 18px), repeating-linear-gradient(180deg, #8cb8f4, #8cb8f4 14px, transparent 14px, transparent 18px, #8cb8f4 18px), repeating-linear-gradient(270deg, #8cb8f4, #8cb8f4 14px, transparent 14px, transparent 18px, #8cb8f4 18px); background-size: 4px 100%, 100% 4px, 4px 100% , 100% 4px; background-position: 0 0, 0 0, 100% 0, 0 100%; background-repeat: no-repeat; 
    width:800px;
    height:300px;
    background-color: #F5F8FC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#dragDropIconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:#E3EEFB;
}

#dragDropIcon{
    height: 40px;
    width: 40px;
}

#dragDropText{
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #667085;
    margin-top: 20px;
}

#dragDropBrowseText{
    color:blue;
    text-decoration: underline;
}